body {
    background-image: url(../image/background.jpg);
    overflow: hidden;
}

.star-wars {
    display: flex;
    justify-content: center;
    position: relative;
    height: 800px;
    color: lightblue;
    font-family: 'Pathway Gothic One', sans-serif;
    font-size: 500%;
    font-weight: 600;
    letter-spacing: 6px;
    line-height: 150%;
    perspective: 400px;
    text-align: justify;
}

.scroll {
    position: relative;
    transform-origin: 50% 100%;
    animation: scroll 60s linear;
}

h1 {
    font-size: 200%;
    text-align: center;
    text-transform: uppercase;
}


@keyframes scroll {
    0% {
        top: 0;
        transform: rotateX(20deg) translateZ(0);
    }

    100% {
        top: -6000px;
        transform: rotateX(25deg) translateZ(-2500px);
    }
}


img{
    margin: 10px;
    position: fixed;
    width: 15%;
    height: auto;
}
